@use "global" as *;

.about__title.section-title {
  background: $skyblue;
}

.about__title br {
  @include mq(md) {
    display: none;
  }
}

.about__intro {
  font-size: rem(18);
  margin-top: rem(40);
  color: $white;
  text-align: center;
  text-shadow: rem(2) rem(2) rem(5) rgba(0, 0, 0, 0.6); /* 黒っぽい影を追加 */
  @include mq(md) {
    margin-top: rem(60);
    text-align: left;
    font-size: rem(24);
  }
}

.about__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(20);
  place-items: center; /* ✅ 横・縦 両方の中央寄せ */
  align-items: stretch; /*他のカードに高さを合わせる*/
  height: 100%; /* 親に揃えるため */
  margin-top: rem(20);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: rem(40);
  }
}

.about__item {
  display: flex; /* ✅ 中身を縦に並べられるようにする */
  flex-direction: column;
  max-width: rem(350);
  width: 100%;
  height: 100%;
  padding: rem(20);
  background-color: $white;
  border-radius: rem(10);
  box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.1);
}

.about__item img {
  aspect-ratio: 205/150;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about__item-title {
  margin-top: rem(20);
  font-size: rem(20);
  font-weight: bold;
  color: $black333;
}

.about__item-title br {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.about__text {
  margin-top: rem(20);
  color: #666;
  line-height: 1.6;
  flex: 1;
}
