@use "global" as *;

/* ===== 全体ブロック ===== */
.apply {
  color: $black333;
  line-height: 1.6;
}

.apply__border {
  border-radius: rem(8);
  margin-top: rem(20);
  padding: rem(15);
}

.apply__inner--club .apply__border {
  background-color: #fffde7;
  border: rem(1) solid #ccc;
}

.apply__inner--challenge .apply__border {
  background-color: #f0f7ff;
  border: rem(1) solid #ccc;
}

/* ===== セクションタイトル ===== */
.apply__sub-title {
  font-size: rem(32);
  margin-bottom: rem(24);
}

.apply__title.section-title br {
  @include mq(md) {
    display: none;
  }
}

.apply__inner--club .apply__sub-title {
  border-left: rem(6) solid #007acc;
  padding-left: rem(16);
  color: #007acc;
}

.apply__inner--challenge .apply__sub-title {
  border-left: rem(6) solid #0f4c81;
  padding-left: rem(16);
  color: #0f4c81;
}

/* ===== 各ステップブロック ===== */
.apply__step {
  margin-bottom: rem(32);
}

/* ===== ステップの見出し ===== */
.apply__step-title {
  font-size: rem(24);
  margin-bottom: rem(16);
  color: #444;
  border-bottom: rem(2) solid #e0e0e0;
  padding-bottom: rem(8);
}

/* ===== 項目リスト（ul） ===== */
.apply__list {
  list-style: disc;
  padding-left: rem(24);
}

/* ===== リストアイテム（li） ===== */
.apply__item {
  margin-top: rem(12);
}

/* ===== 連絡先ブロック ===== */
.apply__contact {
  padding-top: rem(16);
  margin-top: rem(32);
}

.apply__contact-info {
  margin-top: rem(4);
  color: #222;
}

.apply__img-list {
  display: grid;
  gap: rem(30);
  grid-template-columns: repeat(1, 1fr);
  padding: 0 rem(20);
  @include mq(md) {
    gap: rem(50);
    grid-template-columns: repeat(3, 1fr);
  }
}

.apply__item-img {
  width: 100%;
  overflow: hidden;
}

.apply__item-img img {
  width: 100%;
  aspect-ratio: 195/160;
  object-fit: cover;
  border-radius: rem(10);
  transition: transform 1s cubic-bezier(0.6, 0, 0, 1);
}

.apply__school {
  margin-bottom: 1.5em;
@include mq(md){
  display: flex;
}
}

.apply__school-name {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.apply__school-group {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-left:rem(15);
  line-height: 1.5;
}

.apply__school-grade.first{
  @include mq(md){
    margin-left:rem(15);
  }
}