@use "global" as *;

.list {
  font-size: rem(24);
}

//ホバー時にテキストにホバー表示（擬似要素では不可能）
.list__item-title {
  margin-top: rem(12);
  font-size: rem(16);
  line-height: 1.5;
  position: relative;
  text-decoration: none; /* 最初は下線なし */
  text-underline-offset: rem(4); /* 下線と文字の間にスペースを作る */
  @include mq(md) {
    margin-top: 0;
    margin-left: rem(60);
  }
}

.list__item{
      border-bottom:1px solid #e2e2e2;
}

.list__item:first-child{
      border-top:rem(1) solid #e2e2e2;
}

.list__item a:hover .list__item-title {
  text-decoration: underline; /* ホバー時に下線表示 */
}

//お知らせ記事CSS//
.list__item a {
  padding: rem(20) 0;
  display: block;
  @include mq(md) {
    display: flex;
    align-items: flex-start;
  }
}

.list__item-meta {
  display: flex;
  align-items: center;
}

.list__item-date {
  font-size: rem(16);
  line-height: 1;
}

.list__item-category {
  margin-left: rem(30);
  padding: rem(5);
  //ボックス幅の最低ラインの確保
  min-width: rem(80);
  //
  //中の文字量に合わせてボックスの幅を伸び縮みさせる
  width: fit-content;
  //
  font-size: rem(14);
  line-height: 1;
  color: $white;
  background-color: $bg-blue;
  text-align: center;
}


