@use "global" as *;

.news__inner.inner {
  max-width: rem(640);
  width: 100%;
  @include mq(md) {
    max-width: rem(840);
  }
}

.news__list.list{
  margin-top:rem(40);
}

.news__pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(60);
  }
}