@use "global" as *;

.page-link {
  color: $purple;
  margin-top: rem(40);
}

.page-link__flex {
  display: flex;
  align-items: center;
  text-align: center;
  padding: rem(15) 0;
  border-top: rem(1) solid #b8aed5;
  border-bottom: rem(1) solid #b8aed5;
}

.page-link__prev,
.page-link__next {
  padding: 0 rem(20);
  font-size: rem(14);
  width: 50%;
  position: relative;
  line-height: calc(22 / 14);
  @include mq(md) {
    font-size: rem(18);
  }
}

.page-link__prev {
  margin-right: auto;
}

.page-link__prev::after {
  content: "";
  width: rem(1);
  height: 100%;
  background-color: #b8aed5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.page-link__next {
  margin-left: auto;
}

.page-link__archive {
  margin-top: rem(20);
  text-align: center;
  font-size: rem(14);
  @include mq(md){
    font-size:rem(18);
  }
}
