@use "global" as *;

.section-title {
  text-align: center;
  font-size: rem(32);
  color: $white;
  background: $title;
  text-shadow: rem(2) rem(2) rem(5) rgba(0, 0, 0, 0.6); /* 黒っぽい影を追加 */
  font-weight: $bold;
  @include mq(md) {
    font-size: rem(40);
  }
}
