@use "global" as *;
.single-news__inner.inner{
  max-width:rem(640);
  width:100%;
  @include mq(md){
  max-width:rem(840);
  }
}

.single-news__meta {
  display: flex;
  align-items: center;
}

.single-news__date {
  font-size: rem(14);
  line-height: 1;
}

.single-news__category {
  margin-left: rem(24);
  padding: rem(4) rem(8);
  font-size: rem(12);
  line-height: 1;
  color: $white;
  background-color: $bg-blue;
}

.single-news__title {
  margin-top: rem(24);
  font-size: rem(24);
  line-height: 1.5;
  @include mq(md) {
    margin-top: rem(48);
    font-size: rem(36);
  }
}


.single-news__content {

  h2 {
    margin-top: rem(64);
    padding-bottom: rem(24);
    font-size: rem(20);
    line-height: 1.5;
    border-bottom: rem(2) solid $bg-blue;
    @include mq(md) {
      margin-top: rem(80);
      padding-bottom: rem(30);
      font-size: rem(28);
    }
  }

  h3 {
    margin-top: rem(64);
    padding: rem(20) 0;
    font-size: rem(18);
    line-height: 1.5;
    border-top: rem(1) solid $bg-blue;
    border-bottom: rem(1) solid $bg-blue;
    @include mq(md) {
      margin-top: rem(80);
      padding: rem(24) 0;
      font-size: rem(24);
    }
  }

  h4 {
    margin-top: rem(48);
    padding: rem(16);
    font-size: rem(16);
    line-height: 1.5;
    background-color: #f3f5f5;
    @include mq(md) {
      margin-top: rem(64);
      font-size: rem(20);
    }
  }

  h5 {
    margin-top: rem(40);
    padding: rem(4) 0 rem(4) rem(16);
    font-size: rem(15);
    line-height: 1.5;
    border-left: rem(4) solid $bg-blue;
    @include mq(md) {
      margin-top: rem(48);
      padding: rem(8) 0 rem(8) rem(16);
      font-size: rem(18);
    }
  }

  h6 {
    margin-top: rem(32);
    font-size: rem(14);
    line-height: 1.5;
    @include mq(md) {
      margin-top: rem(38);
      font-size: rem(16);
    }
  }

  p {
    margin-top: rem(20);
    font-size: rem(16);
    line-height: 1.5;
    @include mq(md) {
      margin-top: rem(38);
    }
  }

  p a {
    color: $bg-blue;
    text-decoration: underline;
  }

  p a[target="_blank"]::after {
    content: "";
    margin-right: rem(10);
    margin-bottom: rem(-3);
    margin-left: rem(5);
    width: rem(16);
    height: rem(16);
    display: inline-block;
    background-image: url(./../images/common/link.svg);
    background-size: contain;
  }

  ul {
    margin-top: rem(32);
    @include mq(md) {
      margin-top: rem(38);
    }
  }

  ul li {
    padding-left: rem(22);
    font-size: rem(16);
    line-height: 1.5;
    text-indent: rem(-18);
  }

  ul li:not(:first-of-type),
  ol li:not(:first-of-type) {
    margin-top: rem(16);
  }

  ul li::before {
    content: "";
    margin-right: rem(10);
    position: relative;
    top: rem(-3);
    width: rem(8);
    height: rem(8);
    display: inline-block;
    background-color: $bg-blue;
    border-radius: 50%;
  }

  ol {
    margin-top: rem(32);
    counter-reset: number;
    @include mq(md) {
      margin-top: rem(38);
    }
  }

  ol li {
    padding-left: rem(28);
    font-size: rem(16);
    line-height: 1.5;
    text-indent: rem(-12);
  }

  ol li::before {
    counter-increment: number;
    content: counter(number) ".";
    margin-right: rem(10);
    display: inline-block;
    line-height: 1;
    color: $bg-blue;
  }

  figure {
    margin-top: rem(32);
    width: 100%;
    @include mq(md) {
      margin-top: rem(48);
    }
  }

  figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
