@use "global" as *;
.single-club__inner.inner {
  max-width: rem(640);
  width: 100%;
  @include mq(md) {
    max-width: rem(840);
  }

  h2 {
    text-align: center;
    margin-top: rem(24);
    font-size: rem(24);
    line-height: 1.5;
    padding-bottom: rem(14);
    @include mq(md) {
      margin-top: rem(48);
      font-size: rem(36);
      padding-bottom: rem(28);
    }
  }
}


.single-club__mv {
  margin-top: rem(40);
  width: 100%;
}

.single-club__mv img {
  width: 100%;
  aspect-ratio: 335/188;
  object-fit: cover;
}

.single-club__item {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-club__text {
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.single-club__head-text {
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.single-club__title.section-title {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
}


.single-club__pdf{
  margin-top:rem(20);
  @include mq(md){
    margin-top:rem(40);
  }
}