@use "global" as *;

.support__card {
  margin-top: rem(10);
}

.support__group-link {
  border: rem(1) solid #ccc;
  box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.05);
  margin-top: rem(30);
  padding: rem(15);
}


.support__card-img {
  max-width: rem(300);
  width:100%;
  aspect-ratio: 340/85;
}

.support__card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.support__link-title {
  font-size: rem(20);
  position: relative;
}

.support__link-title span {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(222, 88, 48) 70%);
}

.support__link-title::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(10) 0 rem(10) rem(20);
  border-color: transparent transparent transparent $accent;
}

.support__sub-title {
  font-size: rem(25);
  text-align: center;
  margin-top: rem(30);
  position: relative;
}

.support__sub-title span {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, #a4da00 70%);
}
