@use "global" as *;

.top-news__list {
  margin-top: rem(30);
}

.top-news__btn-wrap.common-btn {
  margin-top: rem(40);
  text-align: center;
}

.top-news__tabs{
  margin-top:rem(20);
  @include mq(md){
    margin-top:rem(40);
  }
}